In [ ]:
#crete a prg for vechile 
employee s.staff-work type w area, developer module teach ,experince manager project client

In [10]:
class Vehicle:
    def __init__(self, make, model, year, color):
        self.make = make
        self.model = model
        self.year = year
        self.color = color
        self.speed = 0
    
    def accelerate(self, increment):
        self.speed += increment
    
    def brake(self, decrement):
        if self.speed >= decrement:
            self.speed -= decrement
        else:
            self.speed = 0
    
    def display_info(self):
        print(f"Make: {self.make}")
        print(f"Model: {self.model}")
        print(f"Year: {self.year}")
        print(f"Color: {self.color}")
        print(f"Current Speed: {self.speed} mph")



car = Vehicle("Toyota", "Corolla", 2022, "Blue")
car.display_info()
print("")

Make: Toyota
Model: Corolla
Year: 2022
Color: Blue
Current Speed: 0 mph

In [40]:
class Employee:
    def __init__(self, i, n, s):
        self.id = i
        self.name = n
        self.salary = s

class Staff(Employee):
    def __init__(self, i, n, s, t, a):
        self.work_type = t
        self.work_area = a
        super().__init__(i, n, s)

class Developer(Employee):
    def __init__(self, i, n, s, m, t, e):
        self.module = m
        self.tech = t
        self.experience = e
        super().__init__(i, n, s)

class Manager(Employee):
    def __init__(self, i, n, s, p, c):
        self.project = p
        self.client = c
        super().__init__(i, n, s)

ob1 = Staff('456', 'dk', '67000', 'type', 'mothi')
ob2 = Developer('tayota', 'nik', '23', '234', 'sudha', '56000')
ob3 = Manager('crop helid', 'prince', '456', 'raj', '45000')

print("The work of staff:", ob1.id, ob1.name, ob1.salary, ob1.work_type, ob1.work_area)
print("The work of developers:", ob2.id, ob2.name, ob2.salary, ob2.module, ob2.tech)
print("The work of manager:", ob3.id, ob3.name, ob3.salary, ob3.project, ob3.client)

The work of staff: 456 dk 67000 type mothi
The work of developers: tayota nik 23 234 sudha
The work of manager: crop helid prince 456 raj 45000

In [46]:
class stu:
    def __init__(self, i, n, b):
        self.id = i
        self.name = n
        self.branch = b

class dep(stu):
    def __init__(self, i, n, b, c,e):
        self.cs = c
        self.eee = e
        super().__init__(i, n, b)

class sec(stu):
    def __init__(self, i, n, b,a,f):
        self.a = a
        self.f = f
        super().__init__(i, n,b)

ob1 = stu('401', 'kee', 'ai', 'a', 'b')
ob2 = dep('402', 'dee', 'aiml', 'c', 'd')


print("The no of stu:", ob1.id, ob1.name, ob1.branch, ob1.sec,ob1.c,ob1.e)
print("The no of dep:", ob2.id, ob2.name, ob2.branch, ob2.sec,ob2.co,b2.e)

TypeError: stu.__init__() takes 4 positional arguments but 6 were given

In [39]:
nums = [2, 7, 11, 15]
target = 9
print(two_sum(nums, target))

[0, 1]

In [15]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print("*", end=" ")
        print()

print_pattern(5)

*
* *
* * *
* * * *
* * * * *

In [39]:
def print_center_pattern(rows):
    for i in range(1, rows + 1):
       
        print(" " * (rows - i), end="")
        
       
        for j in range(1, i + 1):
            print("*", end=" ")
        
        print()

print_center_pattern(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [52]:
def print_diamond_pattern(rows):
    for i in range(1, rows + 1):
       
        print(" " * (rows - i), end="")
        
       
        for j in range(1, i + 1):
            print("*", end=" ")
        
        print()

print_diamond_pattern(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [33]:
def print_number_pattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print(j, end=" ")
        print()

print_number_pattern(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
def print_square_pattern(rows):
    for i in range(rows):
        for j in range(rows):
            print("*", end=" ")
        print()

print_square_pattern(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [50]:
def print_center_number_pattern(rows):
    for i in range(1, rows + 1):
       
        print(" " * (rows - i), end="")
        
       
        for j in range(1, i + 1):
            print(j, end=" ")

        
        print()

print_center_number_pattern(5)

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [47]:
def print_butterfly_pattern(rows):
    
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print("*", end=" ")
        for j in range(2 * (rows - i)):
            print(" ", end=" ")
        for j in range(1, i + 1):
            print("*", end=" ")
        print()


    for i in range(rows, 0, -1):
        for j in range(1, i + 1):
            print("*", end=" ")
        for j in range(2 * (rows - i)):
            print(" ", end=" ")
        for j in range(1, i + 1):
            print("*", end=" ")
        print()

print_butterfly_pattern(5)

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [3]:
def print_hollow_square(rows):
    for i in range(rows):
        if i == 0 or i == rows - 1:
            print("*" * rows)
        else:
            print("*" + " " * (rows - 2) + "*")

print_hollow_square(5)

*****
*   *
*   *
*   *
*****

In [4]:
def print_hollow_triangle(rows):
    for i in range(1, rows + 1):
        if i == rows:
            print("*" * (2 * i - 1))
        else:
            print(" " * (rows - i) + "*" + " " * (2 * i - 3) + "*")

print_hollow_triangle(5)

    **
   * *
  *   *
 *     *
*********

In [6]:
def print_hollow_rectangle(rows, cols):
    for i in range(rows):
        if i == 0 or i == rows - 1:
            print("*" * cols)
        else:
            print("*" + " " * (cols - 2) + "*")

print_hollow_rectangle(5, 7)

*******
*     *
*     *
*     *
*******

In [7]:
def print_diagonal_line(rows):
    for i in range(rows):
        print(" " * i + "*")

print_diagonal_line(5)

*
 *
  *
   *
    *

In [8]:
def print_diamond(rows):
    for i in range(1, rows + 1):
        print(" " * (rows - i) + "*" * (2 * i - 1))
    for i in range(rows - 1, 0, -1):
        print(" " * (rows - i) + "*" * (2 * i - 1))

print_diamond(5)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [9]:
def print_hourglass(rows):
    for i in range(rows, 0, -1):
        print(" " * (rows - i) + "*" * (2 * i - 1))
    for i in range(2, rows + 1):
        print(" " * (rows - i) + "*" * (2 * i - 1))

print_hourglass(5)

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [10]:
def print_zigzag(rows, cols):
    for i in range(1, rows + 1):
        for j in range(1, cols + 1):
            if i % 2 != 0:
                print("*", end="")
            else:
                if j == cols or j == 1:
                    print("*", end="")
                else:
                    print(" ", end="")
        print()

print_zigzag(5, 10)

**********
*        *
**********
*        *
**********

In [12]:
def print_hollow_pyramid(rows):
    for i in range(1, rows + 1):
        print(" " * (rows - i) + "*" + " " * (2 * i - 3) + "*" * (i != 1))

print_hollow_pyramid(5)

    *
   * *
  *   *
 *     *
*       *

In [15]:
def print_inverted_right_triangle(rows):
    for i in range(rows, 0, -1):
        print("*" * i)

print_inverted_right_triangle(5)

*****
****
***
**
*

In [16]:
def print_half_diamond(rows):
    for i in range(1, rows + 1):
        print("*" * i)
    for i in range(rows - 1, 0, -1):
        print("*" * i)

print_half_diamond(5)

*
**
***
****
*****
****
***
**
*

In [17]:
def print_hollow_half_diamond(rows):
    for i in range(1, rows + 1):
        if i == 1 or i == rows:
            print("*" * i)
        else:
            print("*" + " " * (i - 2) + "*")
    for i in range(rows - 1, 0, -1):
        if i == 1 or i == rows:
            print("*" * i)
        else:
            print("*" + " " * (i - 2) + "*")

print_hollow_half_diamond(5)

*
**
* *
*  *
*****
*  *
* *
**
*

In [19]:
def print_cross(rows):
    for i in range(rows):
        for j in range(rows):
            if j == i or j == rows - i - 1:
                print("*", end="")
            else:
                print(" ", end="")
        print()

print_cross(5)

*   *
 * *
  *
 * *
*   *

In [27]:
def print_hollow_upside_down_triangle(rows):
    for i in range(rows, 0, -1):
        if i == rows or i == 1:
            print("*" * i)
        else:
            print("*" + " " * (i - 2) + "*")

print_hollow_upside_down_triangle(5)

*****
*  *
* *
**
*

In [29]:
def print_hollow_rhombus(rows):
    for i in range(1, rows + 1):
        print(" " * (rows - i) + "*" * rows if i == 1 or i == rows else "*" + " " * (rows - 2) + "*")

print_hollow_rhombus(5)

    *****
*   *
*   *
*   *
*****